#anyo_fotos{
	width: 54.8em;
	background-color: #666666;
	border-left-width: 0.2em;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-right-width: 0.2em;
	border-right-color: #CCCCCC;
	border-right-style: solid;
	text-align: center;
	font-size: 0.9em;
}
